body {
    background: url('./assets/bg/bg-full.png');
    width: 100%;
}

/* ----------------- HEADER --------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: white;
    margin-bottom: 15px;
    backdrop-filter: blur(0px);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 250px;
    font-weight: bold;
    padding: 10px;
    position: relative;
}

@media screen and (max-width: 1200px) {
    #title {
        font-size: 150px;
    }
}

@media screen and (max-width: 800px) {
    #title {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 50px;
    }
}

.titleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dark-mode-toggle {
    font-weight: bold;
    background: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
}

.dark-mode-toggle:hover {
    background: linear-gradient(153deg, rgba(34, 195, 92, 1) 0%, rgba(100, 135, 156, 1) 38%, rgba(200, 45, 253, 1) 100%);
    color: #333;
}

#searchDiv,
#buttonSection {
    padding: 10px;
    margin: 15px;
}

#searchInput {
    display: none;
    margin: 0 auto;
    border-color: rgba(34, 195, 92, 1) 0%;
    border-radius: 30px;
    background: transparent;
    color: white;
}

::placeholder {
    font-style: italic;
    font-size: 1em;
    padding: 5px;
    color: white;
}

/* ----------------- MAIN --------------------*/
#main {
    backdrop-filter: blur(0px);
    padding: 20px;
}

#boxCoins {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    gap: 25px;
}

img {
    width: 80px;
    height: 80px;
}

.cardCoin {
    width: 25vw;
    padding: 15px;
    border: 0.5px solid rgb(86, 96, 71);
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 248px;
    position: relative;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}


.custom-checkbox {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 18px;
}

.customControl {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-image {
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/rocketNeo.png');
    background-size: cover;
    display: inline-block;
}

.customControl:checked+.checkbox-image {
    width: 30px;
    height: 30px;
    background-image: url('./assets/icons/rocketStar.png');
}

.btnMoreInfo {
    background-color: rgb(219, 51, 211);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.collapse {
    margin-top: 15px;
    transition: height 0.3s ease;
}

.cardCoinDetail {
    width: auto;
    color: aliceblue;
}

/* ----------------- MODAL --------------------*/
.modal {
    backdrop-filter: blur(3px);
    display: none;
    position: fixed;
    width: 400vw;
    justify-content: center;
    padding-top: 150px;
}

.modalContent {
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    align-items: center;
}

.modalHeader {
    text-align: center;
    padding: 20px;
}

.modalHeader h2 {
    font-size: 56px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

#favorisCoin {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.favCoinModal {
    margin-bottom: 10px;
}

.favCoinModal button {
    background: rgb(63, 204, 251);
    background: linear-gradient(201deg, rgba(63, 204, 251, 1) 0%, rgba(252, 190, 70, 1) 100%);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.favCoinModal button:hover,
.modalFooter button:hover {
    background: rgb(63, 204, 251);
    background: linear-gradient(201deg, rgba(63, 204, 251, 1) 0%, rgba(157, 120, 48, 1) 100%);
}

.modalFooter {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.modalFooter button {
    border: none;
    border-radius: 8px;
    align-self: center;
}

.successChange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----------------- LOGO SPINNER --------------------*/
.logoSpinner {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.leo-border1 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url("./assets/logo/shiba-inu-shib-logo.svg");
    animation: spin3D 1.8s linear 0s infinite;
}

.leo-border2 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url("./assets/logo/dogecoin-doge-logo.svg");
    animation: spin3D 2.4s linear 0s infinite;
}

.leo-border3 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url("./assets/logo/bitcoin-btc-logo.svg");
    animation: spin3D 3.2s linear 0s infinite;
}


@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }

    to {
        transform: rotate3d(10deg);
    }
}

/* -------------------- TABLE ------------------- */

.graphContainer {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}